<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

	<title>:: Admin panel ::</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="icon" type="image/x-icon" sizes="32x32" th:href="@{/images/favicon.ico}">

	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/font-awesome.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-combined.2.2.2.min.css}" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

	<!--<script th:src="@{/js/jquery.3.1.1.min.js}"></script>-->
	<script th:src="@{/js/jquery-2.2.4.js}"></script>

	<script th:src="@{/js/app.js}"></script>
	<script th:src="@{/js/bootstrap.3.3.7.min.js}"></script>

</head>
<body>

</body>
</html>
