<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: head"></head>
<body>
	<div th:fragment="navbar" class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<div>
				<a class="brand" th:href="@{/home}">
					<img class="logo_img" th:src="@{/images/logo.png}" />
				</a>
				<div class="nav-collapse" style="float: right;">
					<ul class="nav">
						<li class="nav_item">
							<a th:if="${session.logged != null && session.logged}" class="logout_link" th:href="@{/logout}">Logout</a>
							<a th:if="${session.logged == null || !session.logged}" class="login_link" th:href="@{/login}">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<ul class="breadcrumb" >
			<li th:if="${session.logged != null && session.logged}">
				<a th:href="@{/home/download/}">Download xsd</a>
			</li>
		</ul>

	</div>
</body>
</html>
