<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:include="layout/head :: head">
<title>XML</title>
</head>
<body>
	<div th:substituteby="layout/navbar :: navbar"></div>
	<div style="min-height: 300px; margin-top: 20px; margin-bottom: 20px;">

		<br/>
		<span class="error_msg" th:if="${error}" th:text="${errorMessage}">
		</span>
		<br/>

		<section layout:fragment="content">
			<p>Page content goes here</p>
		</section>
	</div>
	<div th:substituteby="layout/footer :: footer"></div>
</body>
</html>
