<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: head">
<title>Exacode bootstrap</title>
</head>
<body>
	<div th:substituteby="layout/navbar :: navbar"></div>
	<div class="container">
		<h3>Internal error occured</h3>
		<h1 th:text="${errorCode}">500</h1>
		<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
		<a href="/" th:href="@{/admin/home}">Back to Home Page</a>
	</div>
	<div th:substituteby="layout/footer :: footer"></div>
</body>
</html>