html {
    background-color: #f0f0f0;
    overflow-y: scroll;
}

body {
    font-family: 'DejaVu Sans', Arial, Helvetica;
    font-size: 12px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin: 0px auto;
    padding: 20px 20px;
    width: 82%;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

form fieldset {
    padding-top: 20px;
}

form div {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
}

form div > label {
    width: 250px;
    display: block;
    float: left;
    text-align: right;
    margin-right: 20px;
    line-height: 20px;
    padding: 0;
    font-weight: bold;
}

form div > input, form div > select {
    height: 20px;
    margin: 0px;
    padding: 0px;
}

form div > ul {
    list-style: none;
    padding: 0;
    vertical-align: top;
}

form div > ul li {
    padding: 0;
    margin-left: 270px;
}

form div > table {
    padding: 0;
}

form div > table td, form div > table th {
    margin: 0;
    padding: 1px 10px;
}

form div > table th {
    font-weight: normal;
    background-color: #ddff77;
    color: #000000;
}


form div.submit {
    margin-top: 40px;
    background-color: #99cc33;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000000;
}

form div.submit button {
    font-weight: bold;
    font-variant: small-caps;
}

.content {
    min-height: 200px;
    padding: 50px 0px;
}

.no_data_msg {
    margin: 30px 5px;
}

.data_table {
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
    width: 100%;
    text-align: center;
}

.data_table th, .data_table tr, .data_table td {
    height: 30px;
    max-width: 300px;
    min-width: 67px;
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
}

.data_table tr, .data_table td {
    word-wrap:break-word;
    word-break: break-all;
}

.data_table th {
    background: #bbbbbb;
    word-break: normal;
    color: #fff;
    padding: 10px 5px;
}

.form_table td {
    padding-bottom: 10px;
    min-width: 90px;
    max-width: 876px;
}

.form_table {
    border-spacing: 30px !important;
    border-collapse: initial !important;
    width: 100%;
}

label {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.form_table input {
    width: 400px;
    margin: 5px 0px 10px 0px;
}

.form_table select {
    width: 400px !important;
    margin: 5px 0px 10px 0px;
}

.form_table input[type=submit] {
    width: 100px !important;
}



.even {
    background: #fdfdfd;
}

.odd {
    background: #f5f5f5;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    overflow: hidden;
    left: 0;
    top: 0;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px 25px 40px;
    border: 1px solid #888;
    width: 20%;
    text-align: center;
}

/* The Close Button */
.btn_action {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: bold;
}

.btn_action:hover,
.btn_action:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close_btn {
    float: right;
}

.submit_btn {
    float: left;
}

a.action_link:hover, a.action_link:active {
    cursor: pointer;
}

.error_msg {
    color: red;
    font-size: 14px;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.navbar-inner {
    height: 130px;
}

.nav_item {
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
}

.logo_img {
    height: 110px;
}

.brand {
    padding: 12px 20px 0px 8px;
}

.pagination_links {
    display: inline-flex;
    list-style-type: none;
    margin: 20px 0px;
}

.pagination_links li {
    font-size: 22px;
    padding: 3px 10px;
}

.pagination_links p {
    font-size: 20px;
}

.paging_controls {
    display: inline-flex;
}

.item_count_select select {
    width: 65px;
    margin: 20px 15px;
}


#search-text-input{
    border-top:thin solid  #e5e5e5;
    border-right:thin solid #e5e5e5;
    border-bottom:0;
    border-left:thin solid  #e5e5e5;
    box-shadow:0px 1px 1px 1px #e5e5e5;
    float:left;
    height:17px;
    outline:0;
    padding:.4em 0 .4em .6em;
    width:200px;
}

#button-holder {
    cursor:pointer;
    float:left;
    height:27px;
    text-align:center;
    display: inline-flex;
}

#button-holder img{
    margin: 0px -30px;
    width: 26px;
}

.form_link {
    margin: 0px 30px;
    font-size: 12pt;
}

.icon {
    width: 26px;
    height: 26px;
}

.search {
    margin: 20px 0px 0px 5px;
    float: left;
    min-height: 60px;

}

.list_owner {
    margin: 0px 30px 20px 0px;
    float: right;
}

.list_params {
    display: inline-flex;
}


.statistics td {
    text-align: center;
    border: 1px solid #f2f2f2;
}

.statistics th {
    background: #bbbbbb;
    border: 1px solid #f2f2f2;
    color: #fff;
    padding: 5px 10px;
}

.logout_link {
    /*background-image: url(/images/logout.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 9px;*/
    /*background-size: 20px;*/
    width: 73px;
    text-align: right;
}

.login_link {
    width: 73px;
    text-align: right;
}

.logout_link:hover {
    /*background-image: url("/images/logout_hover.png");*/
}

textarea {
    width: 400px;
}

.wysihtml5 {
    width: 600px;
}


table.data_table thead .sorting, table.data_table thead .sorting_asc,
table.data_table thead .sorting_desc, table.data_table thead .sorting_asc_disabled,
table.data_table thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right;
    padding: 2px 20px 2px 0px;
    cursor: pointer;
}

table.data_table thead .sorting {
    background-image: url(/images/sorting/sort_both.png);
}
table.data_table thead .sorting_desc {
    background-image: url(/images/sorting/sort_desc.png);
}
table.data_table thead .sorting_asc {
    background-image: url(/images/sorting/sort_asc.png);
}

.thumb_img {
    max-width: 80px;
    max-height: 90px;
}

.chart {
    margin: 10px 0px 30px;
}

.chart_container {
    text-align: center;
}

.chart_part {
    margin: 3px 0px 30px 0px;
    text-align: center;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-widget-content
{
    border: 1px solid black;
    color: #222222;
    background-color: #ffffff;
}

.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px;
}
.ui-menu
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}
.ui-autocomplete
{
    cursor: default;
    position: absolute;
}
.ui-menu .ui-menu-item
{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menu-item a
{
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    cursor: pointer;
    background-color: Green;
}

.ui-menu .ui-menu-item:hover
{
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    color: White;
    cursor: pointer;
    background-color: #C8C8C8;
}
.ui-widget-content a
{
    color: #222222;
}

.form_table textarea {
    width: 80%;
    margin: 5px 0px 10px 0px;
}


.wysihtml5, .wysihtml5-sandbox {
    width: 100% !important;
}

.wiziwig_data {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 300px;
}

.dropdown_filter {
    height: 30px;
    width: 140px;
    margin: 0px 60px;
}


.data_sub_table {
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
    width: 100%;
    text-align: center;
    margin: 10px 0px 7px;
}

.data_sub_table th, .data_sub_table tr, .data_sub_table td {
    height: 20px;
    max-width: 400px;
    min-width: 80px;
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
}

.data_sub_table th {
    background: #eee;
    word-break: normal;
    color: black;
    padding: 5px 0px;
}

.collapse_action {
    background-image: url(/images/collapse.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 10px 10px;
}

.expand_action {
    background-image: url(/images/expand.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 10px 10px;
}

label.required:after {
    content:" *";
    color: red;
}

code {
    display: block;
    white-space: pre-wrap
}