<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/template">

<body>
<div>
    <section layout:fragment="content">

        <h3>Xsd list</h3>

        <div class="content">

            <div class="no_data_msg" th:if="${files.size() == 0}">
                No files
            </div>

            <div th:if="${files.size() > 0}">

                <table class="data_table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Creation date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr th:each="file,iterationStatus  : ${files}" th:class="${iterationStatus.odd}? 'odd' : 'even'" class="odd">
                        <td th:text="${file.name}"></td>
                        <td th:text="${#dates.format(file.createDate, 'dd MMM yyyy')}"></td>
                        <td>
                            <a class="action_link" th:href="@{/home/download/{fileName}/(fileName=${file.name})}">Download</a>
                        </td>
                    </tr>
                </table>

            </div>

        </div>

    </section>

</div>
</body>
</html>
