<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>:: Login ::</title>

	<link rel="icon" type="image/x-icon" sizes="32x32" th:href="@{/images/favicon.ico}">

	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.3.3.7.min.css}" />

  	<script th:src="@{/js/jquery.3.1.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.3.3.7.min.js}"></script>
</head>

<body>
    <div class="container">

		<br>
		<span class="error_msg" th:if="${error}" th:text="${errorMessage}">
		</span>
		<br/>
		<br/>


		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="Welcome"></h3>
			<br/>

			<input type="text" id="login" name="login"  th:placeholder="Login"
				class="form-control" /> <br/>
			<input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" /> <br />

			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Login or Password invalid, please verify</p>
			</div>

			<a th:href="@{/home}">Home</a>

			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		</form>
	</div>
</body>
</html>