<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout/template">

<body>
<div>
	<section layout:fragment="content">

			<div>

				<h2>Upload xml</h2>

				<form method="post" action="/home/upload" enctype="multipart/form-data">
					<input type="file" name="file" /><br/><br/>
					<input type="submit" value="Submit" />
				</form>

				<h3 th:if="${message != null && message != ''}" th:text="${message}">-</h3>
				<br/>
				<a target="_blank" th:if="${fileName}" th:href="@{/home/download_own/{fileName}/(fileName=${fileName})}">Download xsd</a>
				<br/>
				<code th:if="${schema}" th:text="${schema}">-</code>

			</div>

		</section>
	</div>
</body>
</html>